input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

button {
    cursor: pointer;
    border-radius: 4px;
}


.noselect {
    transition: 0.4s;
}

.noselect:hover {
    cursor: pointer;
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px 1px darkorange;

}

#downloadButton {
  background-color: #e4e456;
}

#saveButton {
  background-color: #e4e456;
}
      fieldset {
        font-size: 10px;
      }

      legend {
        width: 40px;
        text-align: center;
        align-content: center;
        color: #98c93c;
      }

      th {
        color: white;
      }

      #logo {
        max-width: 100%;
        display: block;
        margin-bottom: 10px;
      }

      .my_lineups {
        background-color: crimson;
        border-radius: 4px;
        color: white;
      }

      #myLineupsNumber strong {
        color: crimson;
      }

      #myLineupsBox tr:hover {

      }

      #notSaved {

      }

      .sortBy {
        clear: both;
        float: right;
        display: inline;
        margin-left: 6px;
      }

      .sortByText {
        display: inline-block;
        margin: 0px;
        margin-top: 8px;
        color: #98c93c;
      }

      .select {
        margin-top: 18px;
      }

      .stat {
        border: 2px solid black;
        position: absolute;
        background-color: lightgray;
      }

       .buttonBorder {
           background-color: purple;
            border: solid 3px #260f54;
            border-radius: 10px;

       }

       .logoButton img {
           display: block;
           height: 75px;
           cursor: pointer;
           margin-top: 10px;
       }

       .logoButton {

           margin-bottom: 15px;

           display: none;
       }

       .selectedSeries {

         border-radius: 4px;
       }

       .uk-grid {
         margin-left: 0px;
       }

       .siteButton {
         padding: 15px;
           display: block;
           text-align: center;
           cursor: pointer;
       }

       .siteButton img {
         height: auto;
       }

       .siteButtonBox {
         margin-bottom: 25px;

       }

       .clearfix::after {
    content: "";
    clear: both;
    display: table;
       }
       .driverbox {

           width: 25%;

       }
       .driverrowpick {
           border: solid #98c93c 1px;
           border-radius: 5px;
           opacity: 0;


       }
       .driversalary {
           background-color: gray;
           color: black;
           font-weight: bold;
           font-size: 12px;
       }

       .drivername {
           text-align: center;
           padding: 1px;
           border: solid black 1px;
           border-radius: 5px;
           background-color: #260f54;
           color: white;
           font-size: 20px;
           margin: 0;
       }

       .driverfppr {
           display: inline-block;
           margin: 0;
           font-size: 12px;
           color: gray;
       }

       .driverfpprp {
           color: white;
           display: inline;
           margin: 0;
           font-size: 12px;
       }

       .driverpract {
           color: lightgray;
           display: inline;
           margin: 0;
           font-size: 12px;
           font-weight: bold;
       }

       .driverpract2 {
           color: darkkhaki;
           display: inline-block;
           margin: 0;
           font-size: 12px;
           font-weight: bold;
       }

       .driverqual {
           color: gold;
           display: inline-block;
           margin: 0;
           font-size: 12px;
           font-weight: bold;
       }

       .racename {
           display: block;
           text-align: center;
           justify-content: center;
           max-width: 65%;
           float: left;
           padding: 5px;
       }

       .racename h1 {
           display: absolute;
           justify-self: start;



       }
       .racelogo img {
           display: block;
           max-width: 35%;
           max-height: 200px;
           height:auto;
           float:right;
           opacity: 1;

       }

       .racelogo {
           padding-top: 10px;
       }

       .racename p {
           font-size: 10px;
           display: block;
           text-align: center;
           margin: 1px;
           margin-left: 30px;

       }

       .lineupHeader {
           width: 100%;
           background-color: lightgray;
       }

       .pagination {
           display: inline;
           text-align: center;
           margin-left: 30%;
            width: 100%;

       }

       .pagination p {
           display: inline;
       }


       .pagination button {
           background-color: transparent;
           outline: none;
       }

       .tableTop {
           display: none;
           padding-left: 6px;
           padding-right: 6px;
           width: 100%;
           background-color: lightgray;
           float: left;
       }

      .tableTop p {
           display: inline;
       }

       .hud {
          width: 350px;
           left: -350px;
           border: solid 2px black;
           padding: 5px;
           background-color: #f5f2f2;

       }




       .hudHeader {
           text-align: center;
           font-size: 25px;
           height: 40px;
           width: 85%;
           float: left;
           background-color: lightgray;
       }

       .hudButton {
           text-align: center;
           font-size: 25px;
           width: 15%;
           height: 40px;
           float: right;
           background-color: #260f54;
           cursor: pointer;
       }

        .hudOpen {
           text-align: center;
           font-size: 25px;
           width: 50px;
           height: 40px;
           float: right;
           background-color: #260f54;
           cursor: pointer;
       }

       .hudPos {
         color: gold;
       }

       .driverSelect {
           display: inline-block;
           border: solid 2px #260f54;
           color: black;
           background-color: lightslategray;
           border-radius: 15px;


       }

       .driverSelect p {
           display: inline;
           font-size: 12px;
           margin-left: 4px;
           margin-right: 4px;

       }

       .driverSelect button {
           background-color: white;
           font-size: 8px;
           border-radius: 50%;
           border: none;
       }

       .selected {
           overflow: auto;
           border: solid 5px green;
           border-radius: 10px;
       }

       .unselected {
           overflow: auto;
           border: solid 5px red;
           border-radius: 10px;
       }

       .w3-striped {
           background-color: darkgray;
           font-weight: 600
       }

       .lineupRow {
         cursor: pointer;

       }

       .exposureRow {
         color: black;
         cursor: pointer;
       }

       .startPos {
         font-size: 0.65em;
         color: darkblue;
       }

       .swap_button {
         background-color: lightslategray;
       }

       .swap_button:hover {
         background-color: lightsteelblue;
       }

       .swap_button i {
         color: white;
       }

       .currentStat {
         font-weight: bold;
       }

       .lineupSelect {

       }

       .lineupSelect p {
         text-align: center;
         display: inline-block;
       }

       .lineupSelected {
         background-color: orangered;
         border-top: solid 2px white;
       }

       .showData {

       }

       #button {
           display: block;
           border-radius: 4px;
       }

       #download {
           display: inline-block;
           float: right;
           border-radius: 2px;
           background-color: crimson;
           color: black;
       }

       #heading {
           background-color: #260f54;
           color: lightgray;
           font-weight: 600;
       }


/* Center the loader */
#loader {

  position: absolute;
  justify-self: center;
  left: 52%;
  top: 65%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #260f54;
  border-bottom: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



#myDiv {
  display: none;
  /*text-align: center;*/
}
